In [1]:
import pandas as pd
import numpy as np 
from geopy.geocoders import Nominatim

In [147]:
tacos = pd.read_csv('taco-bell.csv')
tacos.head()

   Unnamed: 0                    Address     City State  Zipcode
0           0    1761 Howell Mill Rd NW   Atlanta    GA    30318
1           1  2420 N Druid Hills Rd NE   Atlanta    GA    30329
2           2           3385 Buford Hwy   Atlanta    GA    30329
3           3   3604 Bakers Ferry Rd SW   Atlanta    GA    30331
4           4     429 Ponce De Leon Ave   Atlanta    GA    30308

In [148]:
tacos.drop(['Unnamed: 0'], axis=1, inplace=True)
tacos.head()

                     Address     City State  Zipcode
0    1761 Howell Mill Rd NW   Atlanta    GA    30318
1  2420 N Druid Hills Rd NE   Atlanta    GA    30329
2           3385 Buford Hwy   Atlanta    GA    30329
3   3604 Bakers Ferry Rd SW   Atlanta    GA    30331
4     429 Ponce De Leon Ave   Atlanta    GA    30308

In [7]:
tacos.Address.iloc[0] + tacos.City.iloc[0]

'1761 Howell Mill Rd NW Atlanta'

In [71]:
geolocator = Nominatim(user_agent="app_name_")
location = geolocator.geocode(tacos.Address.iloc[17], tacos.City.iloc[17])
location.latitude, location.longitude

(41.9530903, -87.7731166)

In [10]:
taco_dict = tacos.to_dict()

In [11]:
taco_bell = 'Taco Bell'

In [17]:
taco_dict['Address'][0] + taco_dict['City'][0] + ' ' + taco_dict['State'][0]

'1761 Howell Mill Rd NW Atlanta GA'

In [18]:
lat = []
long = []
for i in range(0, len(tacos)):
    
    
    location = geolocator.geocode(taco_dict['Address'][i] + 
                                  taco_dict['City'][i] + 
                                  ' ' +
                                  taco_dict['State'][i]) 
                                
    if location is not None:
        lat.append(location.latitude)
        long.append(location.longitude)
    else:
        lat.append(0)
        long.append(0)
        print(i)

1
4
6
16
20
21
23
26
29
31
35

In [19]:
len(lat), len(lat)

(45, 45)

In [40]:
lat[1], long[1]

(33.8268604487321, -84.325464741777)

In [155]:
num = 35
print(tacos.Address.iloc[num], tacos.City.iloc[num], tacos.State.iloc[num], tacos.Zipcode.iloc[num])
print(taco_dict['Address'][num], taco_dict['City'][num])

2422 W Passyunk Avenue  Philadelphia PA 19145
2422 W Passyunk Avenue  Philadelphia

In [156]:
lat[num], long[num]

(39.921761, -75.187853)

In [158]:
location = geolocator.geocode(tacos.Address.iloc[0], tacos.City.iloc[0])
location.latitude, location.longitude

(33.8020667, -84.414811)

In [159]:
location.latitude, location.longitude

(33.8020667, -84.414811)

In [137]:
lat[num] = location.latitude
long[num] = location.longitude

In [142]:
lat, long

([33.8020667,
  33.8268604487321,
  33.8205321,
  33.7589674,
  33.77268385,
  33.740035,
  33.780038,
  42.3540935,
  41.90817115,
  41.72149395,
  41.8855379183673,
  41.8924809149085,
  41.8967687199294,
  41.9258602473283,
  41.713495,
  41.9253686,
  41.927962292926,
  41.9534525,
  41.93841935,
  41.86676035,
  41.83244175,
  41.9435952,
  41.9934922,
  41.8765952,
  41.9111131,
  41.80925405,
  41.795498,
  41.9984601904494,
  41.92397105,
  41.77199865,
  41.79237095,
  41.7526510018101,
  41.713495,
  41.9394041,
  39.95025053125,
  39.921761,
  39.999669,
  39.993585397025,
  40.0064135510204,
  39.960436,
  40.0818258322593,
  40.04243,
  40.1026027,
  40.07329225,
  40.0941161818182],
 [-84.414811,
  -84.325464741777,
  -84.3594427,
  -84.5058539974272,
  -84.372991,
  -84.41441515,
  -84.3891445,
  -71.0582075535819,
  -87.673601909427,
  -87.6645052944175,
  -87.6263833673469,
  -87.6224648969123,
  -87.627436168832,
  -87.6405336119362,
  -87.68183,
  -87.7016184,
  -87.6733145951822,
  -87.7446039,
  -87.72225806783,
  -87.7101734609659,
  -87.6151690505097,
  -87.8067164015028,
  -87.9399254,
  -87.6289821465019,
  -87.6341149,
  -87.6753243,
  -87.723638,
  -87.6599965568332,
  -87.7916105413181,
  -87.7417544249203,
  -87.795676390369,
  -87.5859576145959,
  -87.68183,
  -87.6978177,
  -75.15834334375,
  -75.187853,
  -75.153454,
  -75.0964146264418,
  -75.0951442040816,
  -75.161914,
  -74.9613561990711,
  -75.144527,
  -75.0287625,
  -75.0842849985012,
  -75.0163845454545])

In [150]:
tacos['Latitude'] = lat
tacos['Longitude'] = long

In [151]:
tacos

,Address,City,State,Zipcode,Latitude,Longitude
0,1761 Howell Mill Rd NW,Atlanta,GA,30318,33.802067,-84.414811
1,2420 N Druid Hills Rd NE,Atlanta,GA,30329,33.826860,-84.325465
2,3385 Buford Hwy,Atlanta,GA,30329,33.820532,-84.359443
3,3604 Bakers Ferry Rd SW,Atlanta,GA,30331,33.758967,-84.505854
4,429 Ponce De Leon Ave,Atlanta,GA,30308,33.772684,-84.372991
5,545 Lee St SW,Atlanta,GA,30310,33.740035,-84.414415
6,930 Spring Street,Atlanta,GA,30309,33.780038,-84.389145
7,76 Summer Street,Boston,MA,2110,42.354093,-71.058208
8,1439 N Milwaukee Avenue,Chicago,IL,60622,41.908171,-87.673602
9,1644 W 95th St,Chicago,IL,60643,41.721494,-87.664505
10,178 North Wabash Ave,Chicago,IL,60601,41.885538,-87.626383
11,205 E Ohio Street,Chicago,IL,60611,41.892481,-87.622465
12,22 E Chicago Ave,Chicago,IL,60611,41.896769,-87.627436
13,2407 N. Clark Street,Chicago,IL,60614,41.925860,-87.640534
14,2410 S Western Ave,Chicago,IL,60608,41.713495,-87.681830
15,2432 N Milwaukee Ave,Chicago,IL,60647,41.925369,-87.701618
16,2575 North Clybourn,Chicago,IL,60614,41.927962,-87.673315
17,2807 W Irving Park Rd,Chicago,IL,60618,41.953452,-87.744604
18,3143 N Milwaukee Ave,Chicago,IL,60618,41.938419,-87.722258
19,3350 W. Roosevelt Rd,Chicago,IL,60624,41.866760,-87.710173
20,3365 S Martin Luther King Drive,Chicago,IL,60653,41.832442,-87.615169
21,3509 N Harlem,Chicago,IL,60634,41.943595,-87.806716
22,3511 Devon Avenue,Chicago,IL,60659,41.993492,-87.939925
23,407 S. Dearborn,Chicago,IL,60605,41.876595,-87.628982
24,4523 W North Ave.,Chicago,IL,60639,41.911113,-87.634115
25,4614 S Damen Ave,Chicago,IL,60609,41.809254,-87.675324
26,5350 S Pulaski,Chicago,IL,60632,41.795498,-87.723638
27,6460 N Sheridan Road,Chicago,IL,60626,41.998460,-87.659997
28,6622 W. Fullerton Ave.,Chicago,IL,60639,41.923971,-87.791611
29,6631 South Cicero,Chicago,IL,60638,41.771999,-87.741754
30,6944 Archer,Chicago,IL,60638,41.792371,-87.795676
31,7856 S. Stoney Island Ave,Chicago,IL,60649,41.752651,-87.585958
32,7906 S. Western Avenue,Chicago,IL,60620,41.713495,-87.681830
33,920 W Belmont Ave,Chicago,IL,60657,41.939404,-87.697818
34,1037 Chestnut St,Philadelphia,PA,19107,39.950251,-75.158343
35,2422 W Passyunk Avenue,Philadelphia,PA,19145,39.921761,-75.187853
36,3032 North Broad St.,Philadelphia,PA,19132,39.999669,-75.153454
37,3619 Aramingo Avenue,Philadelphia,PA,19134,39.993585,-75.096415
38,3981 Kensington Avenue,Philadelphia,PA,19124,40.006414,-75.095144
39,4430 North Broad St,Philadelphia,PA,19144,39.960436,-75.161914
40,499 Franklin Mills Circle,Philadelphia,PA,19154,40.081826,-74.961356
41,5840 Old York Rd,Philadelphia,PA,19141,40.042430,-75.144527
42,7500 Bustleton Avenue,Philadelphia,PA,19152,40.102603,-75.028762
43,7855 Oxford Ave,Philadelphia,PA,19111,40.073292,-75.084285
44,9990 Roosevelt Blvd,Philadelphia,PA,19114,40.094116,-75.016385

In [152]:
#tacos.to_csv('taco-bell-df.csv')